{% extends "layout.html" %}
{% block content %}
    <br>  
	<center>
		<h3>Ожидание результата работы системы</h3> 
		<p>Результат будет представлен в виде zip-архива, содержащего docx-файл, папки images, formulae и tables.</p> 
		<p>Таблицы представлены в двух видах: извлеченные из изображений и сохраненные в формате xlsx и представленные в виде изображений.</p>
		<p>Docx-документ содержит извлеченный текст, изображения и таблицы с сохранением иерархии исходного документа.
		Формулы представлены в отдельной папке, отсортированные по иерархии появления в документе.</p>
		<br>
		<p>Дождитесь начала загрузки файла.</p>
	</center>
	
	<script>    
     window.setTimeout(function(){
       window.location.href = '/loaded';
       }, 10000);
	</script> 
	
{% endblock content %}
